GPUCache/*
debug.log
main
MyApp
libcef.so
libcef_dll_wrapper.a
libEGL.so
libGLESv2.so
snapshot_blob.bin
v8_context_snapshot.bin
locales/*
swiftshader/*
*.pak
chrome-sandbox
connect
debug.log
icudtl.dat
main-new
MyClient
.fuse*
Release/*
build_temp/*
libpepflashplayer.so
connect.png