[Desktop Entry]
Type=Application
Name=Adobe Connect
Exec=INSTALL_PATH/open.sh %u
Icon=INSTALL_PATH/connect.png
StartupNotify=false
StartupWMClass=Adobe Connect
MimeType=x-scheme-handler/connectpro;